<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <thead>
            <tr>
                <th>User</th>
                <th>Weekly Goal</th>
                <th>Daily Goals</th>
                <th>Verify Goals</th>
                <th>Done Goals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user }}</td>
                <td>{{ goal_id }} {{ goal_name }} </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>
</body>

</html>