<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .container {
            width: 1080px;
            height: 500px;
            margin: 50px auto;
            text-align: center;
            background-color: #e3e3e3;
        }

        body {
            background-color: #ccc;
        }
    </style>

</head>

<body>

    <p>Your Account was created successfully!!!, Thank you</p>
    <a href={% url 'olaniyiolabode99scrumy:login'%}>Login to your account</a>

</body>

</html>